@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .homepage-grid {
        display: grid;
        grid-template-columns: 20% 55% 25%;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: 20% 70% 10%;
    }
    .settings-grid {
        display: grid;
        grid-template-columns: 15% 85%;
    }
}

.greet {
    background: -webkit-linear-gradient(16deg, #f40bda, #711e6d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loader hr {
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.greeting {
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation:
        cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent;}
}
